.titulo{
    font-size: 3rem;
    color: #565656;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.formulario{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario input{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 20px;
    color: #000;
}

.formulario input:focus{
    border: none;
}

.formulario label{
    font-size: 1.4rem;
    color: #565656;
}

.formulario select{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    height: 30px;
    width: 80px;
    color: #565656
}

.formulario button{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background-color: #04C100;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
